div.body-login-background {
    background: url("../img/wickes-logo.png") no-repeat center center;
    background-size: 40%;  
    height:520px;
    width:auto;
}

div.body-login-container{
    position: absolute;
    top: 20%;
    right: 10%;
    width: 300px;
    padding: 10px;
    
}

.checkboxes label {
  display: block;
  float: left;
  padding-right: 10px;
  white-space: nowrap;
}
.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}